<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <!--<link rel="stylesheet" href="/assets/css/custom.css">-->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <title>
        <%= title %>
    </title>
</head>
<style>
    body {
        font-family: 'Amatic SC', cursive;
        font-size: 24px;

    }

    .navbar a {
        font-size: 30px;
        font-weight: bold;
        color: black;
    }

    .table-wrapper {
        margin-top: 50px;
    }

    .player-img {
        width: 40px;
        height: 40px;
    }

    .add-player-form {
        margin-top: 50px;
    }

    .next-table a {
        font-size: 30px;
        color: black;
        font-weight: bold;
    }

    .footer a {
        font-size: 30px;
        color: black;
        font-weight: bold;
        margin-right: 10px;
        margin-left: 10px;
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
        background: #f8f9fa; 
    }

    .a-center{
        left: 30%;
        position: relative;
    }
</style>

<body>
    <div class="page-wrapper">
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1"><a href="/">Recipes</a></span>
            <a class="float-right" href="/add" title="Add a New Recipe">Add</a>
        </nav>
    </div>
    <div class="next-table">
        <a class="float-right" href="/products" title=" ">Products -></a>
        <a class="float-left" href="/delivers" title=" "><- Delivers</a>
    </div>

    <footer class="page-footer footer">
        <a class="float-right" href="/showMinkkalPage" title=" ">Show recipes with minimal kkal</a>
        <a class="float-left" href="/showRecipeForProduct" title=" ">Recipes for the dish</a>
        <a class="a-center" href="/findProvider" title=" ">Show price list</a>

    </footer>